{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
          <!--form class="advisor-form" method="post" action="advisor"-->
            <div class="input-group" id="adv-search">
              <label for="name"></label>
                <input type="text" class="form-control" placeholder="Enter Name or click the dropdown list" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" method="post" role="form">
                                  <div class="form-group">
                                    <label for="degree_level">Degree Level</label>
                                    <select name = "degree_level" class="form-control">
                                        <option value="PhD" selected>PhD Students</option>
                                        <option value="Master">Master Students</option>
                                        <option value="Undergraduate">Undergraduate Students</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="department">Department</label>
                                    <select name = "department" class="form-control">
                                        <option value="Computer Science" selected>Computer Science</option>
                                        <option value="Information Science">Information Science</option>
                                        <option value="Electrical and Computer Engineering">Electrical and Computer Engineering</option>
                                    </select>
                                  </div>
                                  <button type="submit" class="btn btn-primary" style="background: #131C2C;"><span class="glyphicon glyphicon-search" aria-hidden="true">Search</span></button>
                                </form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" style="background: #131C2C;"><span class="glyphicon glyphicon-search" aria-hidden="true">Search</span></button>
                    </div>
                </div>
              </div>
            </div>
          <!--/form-->
        </div>
        <div class="col-md-10">
            <ul class="advisee-list">
              {% for advisee in advisees %}
                <li class="advisee">
                    <!--<img alt="advisee image" src="/static/profile_pics/default.jpg"/>-->
                    <div class="row">
                      <div class="col-md-6">
                        <a class="advisee-name" href="/">{{ advisee.name }}</a></br>
                      {{ advisee.degree_level }}, {{ advisee.department }}</br>
                        {{advisee.email}}
                        </div>
                      
                      <div class="col-md-5">
                          <p class="advisee-status" style="float:right;">Wireless <button type="button" class="btn btn-{{advisee.wireless_status}} btn-circle btn-sm"></button></br>Compass <button type="button" class="btn btn-{{advisee.compass_status}} btn-circle btn-sm"></button></br>Moodle <button type="button" class="btn btn-{{advisee.moodle_status}} btn-circle btn-sm"></button></p>                          
                      </div>
                    </div>
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}